@media screen and (max-width: 1250px) {
    .texto{
        width: 60%;
    }

    .texto h2{
        font-size: 2.8rem;
        margin-bottom: 0px;
    }
    .texto p{
        font-size: 12px;
    }

    .btn-explore{
        font-size: 10px;
        padding: 7px 19px;
    }

    .container{
        bottom: 15%;
    }

    .inicio{
        height: 80vh;
    }
  }

  @media screen and (max-width: 900px) {

    .inicio{
        height: 70vh;
    }
   
    .container{
        bottom: 20%;
    }

    #explore{
        padding: 0;
        padding-bottom: 1px;
    }

    .textoUm{
        padding: 5px;
    }

    .textoUm h1{
        font-size: 0.8rem;
    }

    .menu a{
        font-size: 13px;
    }

    .texto h2{
        font-size: 2rem;
        margin-bottom: 0px;
    }
    #git{
        width: 40px;
    }

    .rede img{
        width: 30px;
    }

    .card{
    width: 150px;
    height: 100px;
    padding: 15px;
    border-radius: 30px;
    }

    .clima{
    position: relative;
    bottom: 5px;
    width: 40px;
    height: 40px;
    }

    .temp{
        font-size: 20px;
        margin: 5px 0px;
    }

    .cidade{
        font-size: 10px;
    }

    .texto-openweather{
        font-size: 7px;
    }

    ul li h1{
        font-size: clamp(1rem, 4vw, 36px);
    }

    ul li p{
        line-height: 2rem;
        text-align: justify;
    }
  }
  
  @media screen and (max-width: 630px) {

    .inicio{
    background: url(Petropolis/parnaso-reabre-travessia-petropolis-teresopolis-e-camping-25-03-2022-14-53-41-9289.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #filter{
        background-color: rgba(0, 0, 0, 0.573);
        height: 100vh;
    }

    video{
        display: none;
    }

    #explore{
        padding-top: 2rem;
    }

    .texto{
        max-width: 65%;
    }

    .texto h2{
        font-size: 3.1rem;
    }

    .textoUm h1{
        padding: 10px;
        font-size: 16px;
    }

    .texto p{
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .menu a{
        padding: 11px 11px;
        font-size: 17px;
        text-shadow: none;
    }

    .dois{
        width: 90%;
    }

    .card{
    width: 70px;
    height: 120px;
    padding: 15px 7px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr; /* Uma coluna */
    background-image: linear-gradient(45deg, #a0dbffd8, #1b9ef0d7);
    border: none;
    box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.353);
    }

    .card p{
        margin: 0px 0px;
    }

    .topo{
        display: grid;
        grid-template-columns: 1fr; /* Uma coluna */
        text-align: center;
        justify-items: center;
    }

    .baixo{
        display: grid;
        grid-template-columns: 1fr; /* Uma coluna */
        top: 0px;
    }

    .clima{
    width: 25px;
    height: 25px;
    }

    .temp{
        font-size: 16px;
    }

    .cidade{
        font-size: 7.5px;
    }
    .texto-openweather{
        font-size: 6px;
        position: absolute;
        bottom: 0px;
    }

    .container{
        right: 10px;
        bottom: 30%;
    }

    .oitenta{
        left: 5%;
    }

    .btn-explore{
        font-size: 12px;
        padding: 8px 40px;
    }
    
    .cidade{
        display: none;
    }
  }